@import "tailwindcss";
@font-face {
  font-family: Urbanist;
  src: url(public/fonts/Urbanist.ttf) format("truetype");;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f4f0e8;
  overflow-x: hidden;
  color: #111;
  font-family: Urbanist, sans-serif;
  font-weight: 500;
}

.swiper-slide img {
  transition: transform 0.8s ease;
}

.swiper-slide-active img {
  transform: scale(1.04);
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 35s linear infinite;
}
